<p>Tak sobie siedząc, medytując, rozmawiając z wewnętrzną małpą,
    nie zwróciłeś uwagi na kilka małych, pozornie nic nie znaczących szczegułów</p>
<br>
<p>Mały szczegoł numer jeden: pozycja kwiatu lotosu wygląda super tylko na filmach.
Coś ty sobie wyobrażał ?
Mnich shaolin się znalazł.
Nogi ci drętwieją, bolą uda, nie da się teraz tego rozplątać. No brawo.</p>
<br>
<p>mały szczegół numer dwa: ta kupka obok ciebie, małe i duże kości wokół niej,
    nagły brak śpiewu ptaków. Nie? Nic? ok.
</p>
<br>
<p>Tak. To mrówki mordercy. tak, ty siedzisz z nogami na supełek.</p>
<br>
<a href="/dungeon/room/roomd/{{id}}">Co ja będę owijał w bawełnę. Klikaj, umarłeś.
    Arrivederci Roma</a>

