<p>Twoją uwagę przykuł mały kopiec, myślisz sobie- ewidentnie mrowisko mrówek zabójców</p>
<br>
<p>Postanowiłeś oddalić od siebie koncepcję medytacji.
Cóż, w sposób najmniej ciekawy, interesujący i romantyczny, udaje ci się zakończyć tę historię.</p>
<br>
<a href="/dungeon/room/99/{{id}}">Brawo, zwiałeś przed każdą możliwą przeszkodą. Metoda może mało widowiskowa, za to skuteczna.</a>