<p>no nie uciekłeś. najpierw spuścili ci łomot, potem wrzucili do rowu.</p>
<br>
<p>Tak, to jest teraz twoje życie, mieszkasz w rowie</p>


<a href="/dungeon/room/5/{{id}}">wychodzę z rowu</a>
<br>
<a href="/dungeon/room/6/{{id}}">zostaje w rowie. Tak będę leżał</a>