<p>Jakimś cudem udało sie zwiać</p>
<br>
<p>no ale skoro już sobie pobiegaliśmy, to co dalej ? </p>
<br>

<a href="/dungeon/room/3/{{id}}">Biegnę dalej, co się będę</a>
<br>
<a href="/dungeon/room/4/{{id}}">stop, czas na oddech, medytację, rozważanie.</a>