<p>This is Your first step</p>
<br>
<p>Dzieja sie rzeczy, trzeba szybko decydować, idziesz w lewo i zwiewasz albo zostajesz i sie bijesz</p>
<a href="/dungeon/room/1/{{id}}">ide w lewo i zwiewam</a>
<br>
<a href="/dungeon/room/2/{{id}}">bijemy sie</a>