<h1>a więc dotarłeś do końca</h1>
<p>Nie było to znaczne osiągnięcie, zważywszy a to, że wyborów miałeś de facto ile? dwa? </p>
<p>No cóż, życie to nie je bajka</p>
<br>
<a href="/">zaczynamy ponownie?</a>