<h2>so, You will continue?</h2>
<a href="/dungeon/room/{{room}}/{{id}}">Alright then, hop in</a>
<br>
<p>You will follow the path You proviously chose. Note, that result can differ, good luck though</p>