<p>Rozglądasz się po okolicy. Ładna polanka, myślisz</p>
<br>
<p>Nie wspominałem, że to polanka?</p>
<br>
<h2>Jesteś na polance</h2>
<br>
<p>A na polance stoi sobie skrzynia. Ładna, drewniana, okuta. Taka jak na filmach o piratach.
Nie, nie jest zakopana. Inaczej byś jej nie widział. Wiem, że piraci zakopują skrzynie.
Wszystko muszę tłumaczyć Borze Szumiący</p>
<br>
<p>Podchodzisz do skrzyni,taki jesteś gieroj. Zasłużyłeś.</p>
<br>
<p>Wyciągasz rękę celem otwarcia. Nie ma potrzeby, skrzynia otwiera się sama.
Chyba nie spodziewałeś się, że to zwykła skrzynia.
    Na polance.
To nie jest zwykła skrzynia. To mimik. Taki potwór.
    Z zębami.
    Czy to znaczy, że on Cię teraz kilym?
    Było nie cwaniakować, jak opowiadałem o skrzyni. Piraci zakopują, widzieliście go.
</p>



<a href="/dungeon/room/roomd/{{id}}">tak na marginesie, test, którego nie zdałeś był na inteligencję.
Głupio, nie?</a>