<p>Twoją uwagę zwraca skrzynia na samym środku polanki</p>
<br>
<p>Ignorujesz ją</p>
<br>
<p>Słusznie. Domyśliłeś się, że to jakieś ustrojstwo ktore chce cię zeżreć.
Przechytrzyłeś mnie. Odchodzę, jak niepyszny. </p>
<br>
<a href="/dungeon/room/99/{{id}}">Żegnam ozięble</a>
