<h2>Create Your dugeon-crawler. Ty to make him well, otherwise there won't be much crawling.</h2>
<h3>Distribute 14 poinst amongst stats. Each stat has to have max 5 points</h3>

<form action=""></form>