<p>crawler id added</p>
<a href="">tutaj bedzie link do pierwszego pokoju. link bedzie zabieral numer i moze przekazywal tez id. numer automatycznie bedzie zmienna dla zaktualizowania bazy danych a id bedzie w ten sposob przekazywane dalej</a>