<p>Toś pobiegał.</p>
<br>
<p>Powiedziałbym, że klasycznie wychromoliłeś się na ten głupi ryj, ale to, co ty odstawiłeś
zasługuje na punkty za styl.</p>
<br>
<p>W życiu nie widziałem, żeby ktoś telemarka uszami zrobił</p>
<br>
<p>Siedząca na drzewie wiewiórka zaczeła bić brawo. Wiewiórki to niezłe zwyrole</p>
<br>
<p>Ale wracając, nie żyjesz. No co się tak gapisz? skręciłeś kark, tu już nie ma powrotu.

    Każdego szkoda. Nie każdego żal.
</p>

<a href="/dungeon/room/roomd/{{id}}">Dzięki za granie. ja bawiłem się świetnie</a>