<p>Świetny wybór</p>
<br>
<p>Problem polega na tym, że rów stromy, głęboki, a rączki słabe.</p>
<br>
<p>Praktycznie już wylazłeś, już witałeś się z gąską, aż tu myk, i znów droga w dół</p>
<br>
<p>
    Co mówisz? że niesprawiedliwe? A kto ci kazał do rowu włazić?
    Że ja!? nie pyskuj.
</p>

<a href="/dungeon/room/roomd/{{id}}">Miejmy to już za sobą. Nie becz.</a>