<p>Wyjście z rowu jak ascendencja</p>
<br>
<p>Jakie to symboliczne. Wzruszyłem się. Nie jestem w stanie dalej tego ciągnąć.
Przezwyciężyłeś trudności. Brawo ty.</p>

<a href="/dungeon/room/99/{{id}}">Będę tęsknił.</a>