<p>Mówił ci ktoś kiedyś, że jak będziesz na zimnym leżeć, to dostaniesz wilka?</p>
<br>
<p>Głupia sytuacja.</p>
<br>
<p>
    Jak tak sobie leżysz w rowie, buntując się przeciwko niesprawiedliwościom losu, przyszły wilki.
    Jak to, i co dalej? A jak myślisz?
    Wszystko muszę tłumaczyć.
    Zaadoptowały Cię i teraz jesteś jednym z nich.
    Oczywiście, że nie mówię poważnie, zeżarły Cię aż im się uszy trzęsły.
</p>
<br>
<a href="/dungeon/room/6/{{id}}">Koniec bajki</a>