<p>No dobra, mam straszną ochotę Cię uśmiercić ale powiedzmy, że jest dzisiaj dzień
dobroci dla zwierząt futerkowych </p>
<br>
<p>Pozostajesz w rowie, stopniowo przyswyczajasz się do nowego środowiska, to teraz twój nowy dom</p>
<br>
<a href="/dungeon/room/99/{{id}}">Żyłeś długo i szczęśliwie</a>