<p>Jesteś jak ninja, jak Tommy Lee Jones w ściganym. Jak wściekły byk</p>
<br>
<p>
    Wypadasz z wora jak tornado, z gracją kompletnie do ciebie nie pasującą ( jakimś cudem test na zręczność wyszedł)
    Los Ci sprzyja. Zwiałeś.

</p>

<a href="/dungeon/room/99/{{id}}">Brawo ty.</a>