<p>Nie zdziwilo cię, że te drzwi stoją na polance ?</p>
<br>
<p>Jak to, nie wiesz, że jesteś na polance ?</p>
<br>
<p>
    Głupia sytuacja, jesteś na polance.
    Więc podchodzisz do drzwi na polance. Nie, nie możesz cofnąć decyzji, stało się. Za późno.
    Więc podchodzisz do drzwi na polance, otwierasz.
</p>
<br>
<p>To teleport. Wywaliło Cię w kosmos.</p>
<br>
<p>Że niby zabrakło mi pomysłów? JAK ŚMIESZ</p>
<br>
<a href="/dungeon/room/roomd/{{id}}">Nie zwalaj na mnie swoich złych decyzji. Nie żyjesz. </a>

