<p>Na rzecz tego wydażenia musiałbym chyba przygotować test na cud. A co mi tam, szarpne się</p>
<br>
<p>Nie zdałeś</p>
<br>
<p>Szok, niedowierzanie, miliony pytań bez odpowiedzi</p>
<br>
<p>Porwali cię, a ty sobie siedzisz i czekasz. Odbieram to jak jawną prowokację</p>

<a href="/dungeon/room/roomd/{{id}}">A ja brzydzę się prowokacjami</a>