<p>Na rzecz tego wydażenia musiałbym chyba przygotować test na cud. A co mi tam, szarpne się</p>
<br>
<p>Udało Ci się. Nie spodziewałem się.</p>
<br>
<p>
    Muszę coś teraz wymyśleć. Czekaj, mam.
    Ekipa, która cię porwała została zaatakowana przez wiewiórki.
    (jak to jakie wiewiórki. czarodziejskie, odwal się)
    No, więc wiewiórki uratowały cię i adoptowały Cię.
    Przeżyłeś, ale jakim kosztem
</p>

<a href="/dungeon/room/99/{{id}}">Jakim kosztem...</a>