<p>nie było łatwo.</p>
<br>
<p>dalej nie jest</p>
<br>
<p>Biorąc pod uwagę stopień pobicia, rzekłbym, jako narrator, że jest znacznie gorzej.</p>
<br>
<p>Dobrze, że nie postanowiłeś uciekać, tu przynajmniej nie ma rowu. Jesteś potłuczony,
    smutny a na domiar złego, nowo poznani agresorzy wsadzili cię do wora i zabrali ze sobą</p>
<br>
<p>Zauważasz, że rozplątanie worka i wydostanie się nie leży poza twoimi możliwościami</p>
<br>
<p>Nie oznacza to jednak, że jest to rozsądne posunięcie. Ale co ja tam wiem,
    to ty masz wstrząśnienie mózgu. Dajesz, tygrysie</p>
<br>
<a href="/dungeon/room/9/{{id}}">Siedzę grecznie w worku, jak rozsądny ziemniak</a>
<br>
<a href="/dungeon/room/10/{{id}}">WOLNOŚĆ</a>